<div class="page-header">
  <h3>FUND: <%= @fund.name %>.   RISK TOLERANCE: <%= @fund.risktolerance %> </h3>
</div>

<%= line_chart Historicalperformance.where(:fund_id == @fund.id).group(:month).sum("performance"), curve: false %>

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <tr>
        <th></th>
        <th>5-year CAGR</th>
        <th>Standard Deviation</th>
        <th>5-year Max Drawdown</th>
        <th></th>
      </tr>

<tr>
  <td><%= @fund.name %>
<td>Add calculation of CAGR</td>
<td>Add calculation of SD</td>
<td>Add calculation of drawdown</td>
</tr>
<tr>
  <td>S&ampP500 Index </td>
  <td>Add calculation of CAGR</td>
  <td>Add calculation of SD</td>
  <td>Add calculation of drawdown</td>
  </tr>
</table>
</div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/funds" class="btn btn-primary">
    Back
  </a>
</div>
